.header-container {
  background-color: #cbd5e1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-heading {
  color: #475569;
}

@media screen and (max-width: 768px) {
  .header-container {
    min-width:280px;
  }
}
